form {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}
a {
  color: blue;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}
